.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.homeButton {
    width: 100%;
    padding: 10rem 2rem;
    text-align: left;
    border: none;
}

.homeH2 {
    font-family: 'Playfair';
    font-size: 3.125rem;
    color: white;
    font-weight: 700;
}

.homeP {
    text-transform: uppercase;
}

.lightblue {
    background-color: rgba(111, 195, 223, 1);
}

.purple {
    background-color: rgba(141, 130, 196, 1);
}

.coral {
    background-color: rgba(236, 141, 129, 1);
}

.mustYellow {
    background-color: rgba(231, 183, 136, 1);
}

.blue {
    background-color: rgba(142, 169, 232, 1);
}

.green {
    background-color: rgba(135, 197, 164, 1);
}