@font-face {
    font-family: 'Montserrat';
    src: url(../../../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(../../../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}


h2 {
    color: #fff;
    font-family: Playfair Display;
    font-size: 32px;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    width: 540px;
    height: 74px;
    top: 360px;
    left: 48px;


}

input {
    width: 20vw;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;

}

    #input1 {
        background-color: #6FC3DF;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input2 {
        background-color: #8D82C4;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input3 {
        background-color: #EC8D81;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input4 {
        background-color: #E7B788;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 100px;
        width: 30%;
    }

    #input5 {
        background-color: #8EA9E8;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input6 {
        background-color: #87C5A4;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input7 {
        background-color: #6FC3DF;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input8 {
        background-color: #8D82C4;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;
    }

    #input9 {
        background-color: #EC8D81;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;

    }

    #input10 {
        background-color: #E7B788;
        color: #262B46;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: left;
        border-radius: 9px;
        height: 30px;
        width: 30%;

    }

    #input11 {
        background-color: #6FC3DF;
        color: #262B46;
        cursor: pointer;
        font-family: Montserrat;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;
        height: 60px;
        width: 30%;

    }

    #divForm{
        display: flex;
        flex-direction: column;

    }